<!DOCTYPE html>

<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  </head>
  
  <header>
    <a href="<%= bands_url %>"><p>MUSIC APP</p></a>
    
    <div class="flex-buttons">
      <% if signed_in? %>
      <form class="" action="<%= session_url %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="" value="Log Out">
      </form>
      <% else %>
        <a href="<%= new_session_url %>">Log In</a>
        <a href="<%= new_user_url  %>">Sign Up</a>
      <% end %>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
