<div class="album-div">
<h1>
  <a href="<%= band_url(@band) %>"><%= @band.name %></a>,
  <%= @album.title %>, 
  <%= @album.year %>
</h1>
</div>
<ol>
  <% @album.tracks.each do |track| %>
    <li>
      <%= track.title %>
    </li>
  <% end %>  
</ol>